<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Post Title"
        [ngModel]="post.title"
        name="title"
        required
        minlength="3"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please Enter post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        tows="6"
        placeholder="Post Content"
        [ngModel]="post.content"
        name="content"
        required
        minlength="3"
        #content="ngModel"
      ></textarea
      ><mat-error *ngIf="content.invalid">Please enter content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!postForm.valid"
    >
      Save Post
    </button>
  </form>
</mat-card>
<hr />
