:host{
  display: block;
  margin-top:1rem;
}
.info-text{
  text-align: center;
}
mat-spinner {
  margin: auto;
}
.post-image{
  width:100%;
  overflow: hidden;
}
.post-image img {
  max-width: 100%;
}

mat-paginator {
  margin-top: 1rem;
}
